@using Entities
@model List<Article>
<h1>Liste des articles (@ViewBag.nombre)</h1>
    <a role="button" asp-controller="Article" asp-action="Create">Créer un article</a>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Article a in Model){
            <tr>
                <td>@a.NumArticle</td>
                <td>@a.Nom</td>
                <td>@a.PrixCHF</td>
                <td>@a.Categorie.Nom</td>
                <td><a role="button" asp-controller="Article" asp-action="Edit" asp-route-id="@a.NumArticle">Modifier</a></td>
            </tr>
        }
    </tbody>
</table>