@using Entities
@model List<Facture>
<br />
<a asp-controller="Facture" asp-action="Create" class="btn btn-primary">Créer une nouvelle Facture</a>
<br />
<table class="table table-sm">
    <thead>
        <tr>
            <th>Num facture</th>
            <th>Date facture</th>
            <th>Client</th>
            <th>Nombre d'articles</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Facture f in Model)
        {
            <tr>
                <td>@f.NumFacture</td>
                <td>@f.DateFacture</td>
                <td>@f.NumClientNavigation.PrenomNom</td>
                <td>@f.NombreArticles</td>
                <td width="5%"><a asp-controller="Print" asp-action="Print" asp-route-factureId="@f.NumFacture" target="_blank" class="btn btn-primary mx-2">Imprimer</a></td>
            </tr>
        }
    </tbody>
</table>